@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
h1,
h2 {
  color: blue;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.2em;
}

header img {
  width: 100%;
}

main div video {
  width: 90%;
  text-align: center;
  margin-top: 20px;
}

table {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

footer {
  background-image: url(../img/background-placa-blanco.jpg);
}
footer a {
  text-decoration: none;
}

.contenedor {
  width: 90%;
  height: auto;
  margin: 20px auto;
  padding: 20px 50px;
  border: dashed 5px blue;
}

.mapa {
  width: 100%;
  height: 525px;
}

.bg-azul {
  background-color: rgba(72, 126, 219, 0.753);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.img-med {
  width: 80%;
  height: auto;
  object-fit: cover;
  text-align: center;
}

.object-fill {
  object-fit: fill;
}

.flex-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.edit-nav {
  font-size: 1.6em;
}
.edit-nav ul li a {
  color: white;
}
.edit-nav ul li a:hover {
  color: blue;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

.clearfix:after {
  display: block;
  height: 0;
  width: 0;
}

.pricing-wrapper {
  width: 100%;
  margin-left: 40px;
}

.pricing-table {
  margin: 10px 10px;
  text-align: center;
  width: 300px;
  float: left;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.pricing-table:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}

.pricing-title {
  color: #000000;
  background: rgba(72, 126, 219, 0.753);
  padding: 10px 0;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.pricing-table .price {
  color: white;
  background: #000000;
  font-size: 3.4em;
  font-weight: 700;
  padding: 20px 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.table-list {
  background: #FFF;
  color: #000000;
}

.table-list li {
  font-size: 1.4em;
  font-weight: 700;
}

.table-list li:before {
  content: "\f00c";
  font-family: "Open Sans", sans-serif;
  color: #000000;
  display: inline-block;
  position: relative;
  right: 5px;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .pricing-wrapper {
    width: 768px;
  }
  .pricing-table {
    width: 236px;
  }
  .table-list li {
    font-size: 1.3em;
  }
}
@media (max-width: 768px) {
  .pricing-wrapper {
    width: 420px;
  }
  .pricing-table {
    display: block;
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }
}
.overflow {
  overflow-x: hidden;
}

.grid {
  margin-top: 10px;
  gap: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-template-areas: "logo texto1 foto1 foto1 texto3" "mascota foto2 foto2 texto2 foto3" "mascota texto4 foto4 foto4 foto3";
}

.titulo {
  grid-area: titulo;
  background-color: rgb(207, 207, 207);
}

.texto1 {
  grid-area: texto1;
}

.foto1 {
  grid-area: foto1;
}

.texto2 {
  grid-area: texto2;
}

.foto2 {
  grid-area: foto2;
}

.texto3 {
  grid-area: texto3;
}

.foto3 {
  grid-area: foto3;
}

.texto4 {
  grid-area: texto4;
}

.foto4 {
  grid-area: foto4;
}

.logo {
  grid-area: logo;
}

.mascota {
  grid-area: mascota;
}

.imgedt {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

form {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
}
form div label, form div input {
  margin: 10px;
}

@media (max-width: 1200px) {
  .grid {
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 300px);
    grid-template-areas: "texto1 foto1 foto1" "foto2 foto2 texto2" "mascota logo logo" "mascota logo logo" "texto3 foto3 foto3" "foto4 foto4 texto4";
  }
  form {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form div label, input {
    margin: 10px;
  }
  .mapa {
    text-align: center;
  }
  .img-med {
    width: 80%;
    height: auto;
    object-fit: cover;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .grid {
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 300px);
    grid-template-areas: "foto1" "texto1" "foto2" "texto2" "foto3" "texto3" "foto4" "texto4";
  }
  form {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form div label, input {
    margin: 10px;
  }
  .mapa {
    margin-left: auto;
  }
  .img-med {
    width: 80%;
    height: auto;
    object-fit: cover;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
