.flex-promo {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    margin: 20px;
}

.box {
    margin: 10px 10px;
    text-align: center;
    width: 300px;
   -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    &:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }
}

.bg-titulo {
    color: black;
    background: $keyColor;
    padding: 10px 0px;
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: center;
}

.bg-precio {
    color: $secondaryColor;
    background: black;
    font-size: 3.4em;
    font-weight: 700;
}


.lista {
list-style: none;
font-weight: $textNegrita;
margin-top: 10px;
text-align: left;
}


@media (max-width: 1100px) {
    .flex-promo{ 
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .flex-promo{ 
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}