// variables

//colores
$mainColor: blue;
$secondaryColor: white;
$keyColor: rgba(72, 126, 219, 0.753);

//fonts
$mainFont: 'Open Sans', sans-serif;
$textSm: 1.2em;
$textMd: 1.6em;
$textLg: 2em;
$textXlg: 2.5em;
$textNegrita: 500;
$textMedio: 400;
$textComun: 300;